 #Se esta utilizando la version 3 del formato de archivo Docker Compose

services: # Se definen todos los contenedores a crear y administrar
  microservice-fixed-point:
    build: ./backend/fixed_point # Indica la construccion de la imagen a partir del Dockerfile de fixed_point
    ports:
      - "3000:3000" # Puerto del host:Puerto del contenedor

  secante:
    build: ./backend/secante
    ports:
      - "3001:3000"
  
  jacobi:
    build: ./backend/jacobi
    ports:
      - "3002:3000"
  
  gauss_seidel:
    build: ./backend/gauss_seidel
    ports:
      - "3003:3000"
  newton:
    build: ./backend/newton_raphson
    ports:
      - "3004:3000"
  bisection:
    build: ./backend/bisection
    ports:
      - "3005:3000"
      
  
