/* frontend/src/features/fixedPoint/FixedPointPage.css */

.fp-page {
  padding: 1rem 1.5rem;
}

.fp-page h2 {
  margin-bottom: 1rem;
  color: #ffffff;
  text-align: center;
}

.fp-result {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #f3f4f6;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column; /* Para que el label esté arriba del teclado */
  align-items: center; 

  width: fit-content;/* Ajusta el ancho al contenido */
  margin-left: auto;/* Centra horizontalmente */
  margin-right: auto;/* Centra horizontalmente */
}

.fp-result p {
  margin: 0;
  font-weight: 500;
  color: #1e3a8a;
}

.fp-num-iterations {
  color: #065f46;
}

.fp-value {
  display: inline-block;
  margin-top: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #065f46;
}

